/*  All  */
h1 {
    color: green;
    display: block;
}

/*  task 1  */

.RandomSquare {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}

#random {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

/*  task 2  */

.Counter {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}

#static_counter{
    color: blue;
}

/*  task 3  */

.Dropdown {
    overflow: hidden;
    width: 300px;
}

.Dropdown_button{
    width: 280px;
}

.Dropdown_button, .Dropdown {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    transition-duration:0.6s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.Dropdown_inside {
    color: blueviolet;
    background-color: yellow;
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    transition-duration:0.6s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    overflow: scroll;
    display: none;
}

.Dropdown_inside.show {
    display: block;
}

/* Task 4 */

.Square {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
}

.Circle_css {
    width: 30px;
    height: 30px;
    border: 3px solid blue;
    border-radius: 50%;
    top: 0;
    left: 0;
}
